/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Logo */
.logo-container {
    margin-bottom: 0px;
    text-align: center;
}

.logo {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto;
}
.logo1 {
    width: 20px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Botones */
.botones-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espacio entre botones */
}

button {
    width: 200px; /* Ancho fijo para todos los botones */
    padding: 15px;
    font-size: 18px;
    background-color: #B695C0; /* Color de fondo */
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #B695C0; /* Color de fondo al pasar el ratón */
}

/* Estilos para el footer */
footer {
    background-color: #B695C0;
    color: #FFFFE7;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div {
    margin: 0px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.pie {
    color: #FFFFE7;
    text-decoration: none; /* Elimina el subrayado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
}